<div>
  <head>
    <title>EVENTS</title>
</head>
  <h1>Welcome to EVENT HANDLER!</h1>

    <form method='post' action='/events/delete'>
      <button>Delete Event</button><input type = 'hidden' name='id' value=<%= @event.id %>>
    </form>

  <ul>
    <li><%= @event.organizer_name%></br>
        <%= @event.date %></br>
        <%= @event.organizer_email %></br>
  </ul>
</div>

